<% layout('layouts/biolerplate') -%>

<div class="container d-flex flex-column align-items-center justify-content-center vh-100 text-center">
    <h1 class="display-3 fw-bold">Welcome to <span class="text-primary home"
            style="color: #fe424d !important;">MyBnb</span></h1>

    <p class="lead text-muted">Find your perfect stay, anywhere, anytime.</p>

    <div class="mt-4">
        <a href="/signup" class="btn btn-dark btn-lg shadow-sm px-5">Explore Listings</a>
    </div>

    <div class="mt-5">
        <img src="https://w.wallhaven.cc/full/42/wallhaven-423gy9.jpg" height="600px" width="600px"
            class="img-fluid rounded shadow-lg" alt="Travel Image"><br><br>


    </div>
</div>